<mat-card cdkDrag>
  <mat-card-content>
    <mat-expansion-panel (opened)="onPanelOpen()" (closed)="onPanelClose()">
      <mat-expansion-panel-header
        class="panel-header"
        [style.background-color]="headerColor"
      >
        <mat-panel-title>
          <img class="logo" [src]="logoSrc" loading="lazy" />
          <div class="coin-info">
            <strong>{{ pair.symbol }}</strong> /
            <span matTooltip="current price">{{
              ticker?.last | number: '1.0-10'
            }}</span>
            <span
              class="change-percentage sup"
              [class.down]="priceDown"
              matTooltip="change percentage"
              >{{ ticker?.change_percentage | number: '1.0-2' }}</span
            >
            /
            <span matTooltip="average buy price">{{
              averages?.buy?.price | number: '1.0-10'
            }}</span>
            /
            <span matTooltip="average sell price">{{
              averages?.sell?.price | number: '1.0-10'
            }}</span>
          </div>
        </mat-panel-title>
        <mat-icon
          *ngIf="attentionMessage"
          class="attention"
          [matTooltip]="attentionMessage"
          >gpp_maybe</mat-icon
        >
        <mat-icon
          class="analytics material-icons-outlined"
          [matTooltip]="analyticsMessage"
          >analytics</mat-icon
        >
        <span class="estimated-total sup" matTooltip="estimated total">{{
          estimatedTotal | number: '1.0-2'
        }}</span>
        <span class="open-orders sup">
          <span class="buy" matTooltip="total buy orders">{{ buyOrders }}</span
          >/<span class="sell" matTooltip="total sell orders">{{
            sellOrders
          }}</span>
        </span>
        <mat-icon
          class="remove"
          (click)="removeCard($event)"
          matTooltip="remove pair"
          >delete_outline</mat-icon
        >
        <mat-icon class="drag-handle" cdkDragHandle matTooltip="drag & drop"
          >drag_indicator</mat-icon
        >
        <mat-icon
          class="expand"
          matTooltip="expand"
          (click)="toggleExpand($event)"
          >open_in_full</mat-icon
        >
      </mat-expansion-panel-header>
      <app-pair-card-content
        *ngIf="isOpened"
        [pair]="pair"
        [ticker]="ticker"
        [averages]="averages"
        [recent]="recent"
        [openOrders]="openOrders"
        [exchange]="exchange"
        [isExpanded]="isExpanded"
      >
      </app-pair-card-content>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
