@import '../../variables.scss';

:host.hidden {
  display: none;
}

:host.expanded {
  width: 100% !important;
}

.card-title {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.change-percentage {
  padding: 0 5px;
  font-weight: 500;
  color: $buy-color;

  &.down {
    color: $sell-color;
  }
}

.drag-handle,
.remove,
.expand {
  position: absolute;
  top: 14px;
}

.mat-expanded {
  .mat-expansion-panel-header {
    background-color: rgba(255, 255, 255) !important;
  }
}

.expand {
  right: 50px;
  font-size: 18px;
  line-height: 26px;
}

.drag-handle {
  right: 80px;
  cursor: move;
}

.remove {
  right: 110px;
}

.open-orders {
  padding-right: 110px;
  font-weight: 500;

  .buy {
    color: $buy-color;
  }

  .sell {
    color: $sell-color;
  }
}

.panel-header {
  position: relative;
}

.logo {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  margin-right: 5px;
}

.coin-info {
  line-height: 18px;
}

.estimated-total {
  padding-right: 10px;
}

.attention {
  position: absolute;
  right: 210px;
  color: $warning-color;
}
