.pairs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .pair {
    width: 100%;
    margin: 5px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .pairs-list {
    .pair {
      width: 49%;
    }
  }
}

@media only screen and (min-width: 2100px) {
  .pairs-list {
    .pair {
      width: 33%;
    }
  }
}

@media only screen and (min-width: 3000px) {
  .pairs-list {
    .pair {
      width: 24%;
    }
  }
}
