<mat-tab-group
  animationDuration="0ms"
  [selectedIndex]="selectedIndex"
  (selectedTabChange)="selectedTabChange($event)"
  mat-stretch-tabs="false"
  class="exchange-tabs"
>
  @for (tab of exchangeTabs; track tab) {
    <mat-tab [label]="tab.label">
      <ng-template matTabContent>
        <app-exchange
          [exchange]="tab.id"
          [baseCurrencies]="tab.baseCurrencies"
          [baseCurrency]="tab.activeBaseCurrency"
          (baseCurrencyChange)="tab.activeBaseCurrency = $event"
          (pairAdded)="addPair($event)"
          (pairRemoved)="removePair($event)"
          (pairsOrdered)="orderPairs($event)"
        >
        </app-exchange>
      </ng-template>
    </mat-tab>
  }

  <mat-tab label="Bots">
    <ng-template matTabContent>
      <app-bots></app-bots>
    </ng-template>
  </mat-tab>
</mat-tab-group>
