<mat-tab-group
  animationDuration="0ms"
  [selectedIndex]="selectedIndex"
  (selectedTabChange)="selectedTabChange($event)"
>
  <mat-tab *ngFor="let tab of exchangeTabs" [label]="tab.label">
    <ng-template matTabContent>
      <app-exchange
        [exchange]="tab.id"
        [baseCurrencies]="tab.baseCurrencies"
        [(baseCurrency)]="tab.activeBaseCurrency"
        (pairAdded)="addPair($event)"
        (pairRemoved)="removePair($event)"
        (pairsOrdered)="orderPairs($event)"
      >
      </app-exchange>
    </ng-template>
  </mat-tab>
</mat-tab-group>
