<mat-tab-group
  animationDuration="0ms"
  (selectedTabChange)="selectedTabChange($event)"
  [selectedIndex]="activeTabIndex"
>
  <mat-tab label="Gate.io">
    <app-exchange
      [exchange]="exchanges.GATE_IO"
      [baseCurrencies]="gateIoBaseCurrencies"
      (updatePairs)="updateUser($event)"
    ></app-exchange>
  </mat-tab>
  <mat-tab label="Crypto.com">
    <app-exchange
      [exchange]="exchanges.CRYPTO_COM"
      [baseCurrencies]="cryptoComBaseCurrencies"
      (updatePairs)="updateUser($event)"
    ></app-exchange>
  </mat-tab>
  <mat-tab label="Coinbase">
    <app-exchange
      [exchange]="exchanges.COINBASE"
      [baseCurrencies]="coinbaseBaseCurrencies"
      (updatePairs)="updateUser($event)"
    ></app-exchange>
  </mat-tab>
  <mat-tab label="Bybit">
    <app-exchange
      [exchange]="exchanges.BYBIT"
      [baseCurrencies]="bybitBaseCurrencies"
      (updatePairs)="updateUser($event)"
    ></app-exchange>
  </mat-tab>
</mat-tab-group>
