<app-exchange-actions
  [currencyPairs]="(currencyPairs | async) || []"
  [balance]="(quoteCurrencyBalance | async)?.available"
  [currencyLabel]="quoteCurrency"
  [estimated]="estimated"
  (addCurrencyPair)="addPair($event)"
  (refresh)="refresh()"
  (filter)="filter($event)"
  (sort)="sort($event)"
  (showRecent)="showRecent($event)"
></app-exchange-actions>

<div cdkDropList class="pairs-list" (cdkDropListDropped)="drop($event)">
  <app-pair-card
    *ngFor="let pair of pairs"
    [pair]="pair"
    [exchange]="exchange"
    (remove)="removePair($event)"
    class="pair"
  >
  </app-pair-card>
</div>
