<mat-card cdkDrag>
  <mat-card-content>
    <mat-expansion-panel (opened)="onPanelOpen()" (closed)="onPanelClose()">
      <mat-expansion-panel-header
        class="panel-header"
        [style.background-color]="headerColor"
      >
        <mat-panel-title>
          <strong>{{ pair }}</strong> / {{ ticker?.last }}
          <span class="change-percentage" [class.down]="priceDown">{{
            ticker?.change_percentage
          }}</span>
          / {{ averages?.buy?.price | number: '1.0-10' }} /
          {{ averages?.sell?.price | number: '1.0-10' }}
        </mat-panel-title>
        <div class="open-orders">
          <span class="buy">{{ buyOrders }}</span
          >/<span class="sell">{{ sellOrders }}</span>
        </div>
        <mat-icon class="remove" (click)="removeCard($event)"
          >delete_outline</mat-icon
        >
        <mat-icon class="drag-handle" cdkDragHandle>drag_indicator</mat-icon>
        <!-- <mat-panel-description>
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <app-pair-card-content
        *ngIf="panelOpenState"
        [pair]="pair"
        [ticker]="ticker"
        [averages]="averages"
        [openOrders]="openOrders"
        [exchange]="exchange"
      >
      </app-pair-card-content>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
