table {
  width: 100%;
}

.averages-value {
  padding: 0 5px;
  font-size: 12px;
}

.side {
  color: rgb(3, 121, 3);

  &.sell {
    color: rgb(204, 84, 84);
    font-weight: 600;
  }
}

.checkbox {
  padding-right: 5px;
}

.row {
  &:hover {
    background: whitesmoke;
  }
}

.copy-button {
  font-weight: initial;
  padding: initial;
}

.order-id-header {
  padding-left: 14px;
}
