<p>
  <button mat-raised-button type="button" (click)="filterBuy()">
    <span>buy:</span>
    <span class="averages-value" matTooltip="price">{{
      buyPrice | number: '1.0-10'
    }}</span>
    /
    <span class="averages-value" matTooltip="volume">{{
      buyVolume | number: '1.0-5'
    }}</span>
    /
    <span class="averages-value" matTooltip="money">{{
      buyMoney | number: '1.0-2'
    }}</span>
  </button>
  <button mat-raised-button type="button" (click)="filterSell()">
    <span>sell:</span>
    <span class="averages-value" matTooltip="price">{{
      sellPrice | number: '1.0-10'
    }}</span>
    /
    <span class="averages-value" matTooltip="volume">{{
      sellVolume | number: '1.0-5'
    }}</span>
    /
    <span class="averages-value" matTooltip="money">{{
      sellMoney | number: '1.0-2'
    }}</span>
    /
  </button>
  <button mat-raised-button type="button" (click)="removeFilter()">
    <mat-icon>filter_alt_off</mat-icon>
  </button>
</p>

<table mat-table [dataSource]="orders" class="mat-elevation-z8">
  <ng-container matColumnDef="checkbox">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox
        class="checkbox"
        (click)="$event.stopPropagation()"
        (change)="$event ? toggleRowSelection(element) : null"
        [checked]="element.selected"
      ></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef class="order-id-header">ID</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        matTooltip="copy order ID"
        [cdkCopyToClipboard]="element.id"
        (click)="$event.stopPropagation()"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="side">
    <th mat-header-cell *matHeaderCellDef>side</th>
    <td mat-cell *matCellDef="let element">
      <span class="side" [class.sell]="element.side == 'sell'">{{
        element.side
      }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="update_time_ms">
    <th mat-header-cell *matHeaderCellDef>date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.updateTimestamp | date: 'yyyy-MM-dd hh:mm a' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>amount</th>
    <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>price</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-button
        matTooltip="copy"
        class="copy-button"
        [cdkCopyToClipboard]="element.price"
        (click)="$event.stopPropagation()"
      >
        {{ element.price | number: '1.0-10' }}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>total</th>
    <td mat-cell *matCellDef="let element">
      {{ element.amount * +element.price | number: '1.0-10' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    class="row"
    *matRowDef="let row; columns: displayedColumns"
    (click)="toggleRowSelection(row)"
  ></tr>
</table>
