<p class="filters">
  <button mat-raised-button type="button" (click)="filterBuy()" class="filter">
    <div class="filter">
      <div>buy:</div>
      <div class="small-text" matTooltip="price">
        {{ buyPrice | decimalWithAutoDigitsInfo }}
      </div>
      /
      <div class="small-text" matTooltip="volume">
        {{ buyVolume | decimalWithAutoDigitsInfo }}
      </div>
      /
      <div matTooltip="money">
        {{ buyMoney | decimalWithAutoDigitsInfo }}
      </div>
    </div>
  </button>
  <button mat-raised-button type="button" (click)="filterSell()" class="filter">
    <div class="filter">
      <div>sell:</div>
      <div class="small-text" matTooltip="price">
        {{ sellPrice | decimalWithAutoDigitsInfo }}
      </div>
      /
      <div class="small-text" matTooltip="volume">
        {{ sellVolume | decimalWithAutoDigitsInfo }}
      </div>
      /
      <div matTooltip="money">
        {{ sellMoney | decimalWithAutoDigitsInfo }}
      </div>
    </div>
  </button>
  <button mat-icon-button type="button" (click)="removeFilter()">
    <mat-icon>filter_alt_off</mat-icon>
  </button>
</p>

<table mat-table [dataSource]="orders" class="mat-elevation-z8">
  <ng-container matColumnDef="checkbox">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox
        class="checkbox"
        (click)="$event.stopPropagation()"
        (change)="$event ? toggleRowSelection(element) : null"
        [checked]="element.selected"
      ></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef class="order-id-header">ID</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        matTooltip="copy order ID"
        [cdkCopyToClipboard]="element.id"
        (click)="$event.stopPropagation()"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="side">
    <th mat-header-cell *matHeaderCellDef>side</th>
    <td mat-cell *matCellDef="let element">
      <span class="side" [class.sell]="element.side == 'sell'">{{
        element.side
      }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="update_time_ms">
    <th mat-header-cell *matHeaderCellDef>date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.updateTimestamp | date: 'yyyy-MM-dd hh:mm a' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>amount</th>
    <td mat-cell *matCellDef="let element">
      {{ element.amount | decimalWithAutoDigitsInfo }}
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>price</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-button
        matTooltip="copy"
        class="copy-button"
        cdkCopyToClipboard="{{ element.price | decimalWithAutoDigitsInfo }}"
        (click)="$event.stopPropagation()"
      >
        {{ element.price | decimalWithAutoDigitsInfo }}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>total</th>
    <td mat-cell *matCellDef="let element">
      {{ element.amount * +element.price | decimalWithAutoDigitsInfo }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    class="row"
    *matRowDef="let row; columns: displayedColumns"
    (click)="toggleRowSelection(row)"
  ></tr>
</table>
