@import '../../variables.scss';

table {
  width: 100%;
}

.filters {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.filter {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 5px;
}

.small-text {
  font-size: 11px;
}

.side {
  color: $buy-color;

  &.sell {
    color: $sell-color;
    font-weight: 600;
  }
}

.checkbox {
  padding-right: 5px;
}

.row {
  &:hover {
    background: whitesmoke;
  }
}

.copy-button {
  font-weight: initial;
  padding: initial;
}

.order-id-header {
  padding-left: 14px;
}
