<mat-card-actions>
  <button
    mat-raised-button
    (click)="importAll()"
    type="button"
    matTooltip="import entire trade history"
    class="first-action"
  >
    <mat-icon>import_export</mat-icon>
  </button>
  <button
    mat-raised-button
    (click)="updateRecent()"
    type="button"
    matTooltip="sync recent trade history"
  >
    <mat-icon>history</mat-icon>
  </button>
  <button
    mat-raised-button
    (click)="calcAverages()"
    type="button"
    matTooltip="update averages"
  >
    <mat-icon>architecture</mat-icon>
  </button>
  <button
    mat-raised-button
    (click)="updateTickerInfo()"
    type="button"
    matTooltip="update ticker"
  >
    <mat-icon>currency_exchange</mat-icon>
  </button>
  <button mat-raised-button (click)="sellRecent()" class="sell-recent">
    sell: recent
  </button>
  <button mat-raised-button (click)="buyByMultiplicator()" class="buy-recent">
    buy: -mult.
  </button>
</mat-card-actions>

<mat-expansion-panel
  hideToggle
  [expanded]="isNewOrderExpanded"
  (opened)="isNewOrderExpanded = true"
  (closed)="isNewOrderExpanded = false"
  [@.disabled]="disableAnimation"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Create order </mat-panel-title>
    <mat-panel-description>
      {{ (balance | async)?.available }} / {{ (balance | async)?.locked }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-order-form
    [exchange]="exchange"
    [ticker]="ticker"
    [averages]="averages"
    [balance]="balance | async"
    [product]="product | async"
    [recent]="recent"
    [buyMultiplicator]="buyMultiplicator"
    (create)="createOrder($event)"
  >
  </app-order-form>
</mat-expansion-panel>

<table mat-table [dataSource]="openOrders" class="mat-elevation-z8">
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="update_time_ms">
    <th mat-header-cell *matHeaderCellDef>date</th>
    <td mat-cell *matCellDef="let element">
      {{
        element.updateTimestamp || element.createTimestamp
          | date: 'yyyy-MM-dd hh:mm a'
      }}
    </td>
  </ng-container>

  <ng-container matColumnDef="side">
    <th mat-header-cell *matHeaderCellDef>side</th>
    <td mat-cell *matCellDef="let element">
      <span class="side" [class.sell]="element.side == 'sell'">{{
        element.side
      }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>amount</th>
    <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>price</th>
    <td mat-cell *matCellDef="let element">
      {{ element.price | number: '1.0-10' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>total</th>
    <td mat-cell *matCellDef="let element">
      {{ +element.amount * +element.price | number: '1.0-10' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="cancelOrder(element)">
        <mat-icon>cancel</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-expansion-panel
  (opened)="onPanelOpen()"
  (closed)="onPanelClose()"
  hideToggle
  [expanded]="false"
  [@.disabled]="disableAnimation"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Trade History </mat-panel-title>
  </mat-expansion-panel-header>
  <app-trade-history
    [pair]="pair"
    [exchange]="exchange"
    *ngIf="panelOpenState"
  ></app-trade-history>
</mat-expansion-panel>
