<mat-card-actions>
  <button mat-raised-button (click)="importAll()" type="button" matTooltip="import entire trade history" class="first-action">
    <mat-icon>import_export</mat-icon>
  </button>
  <button mat-raised-button (click)="updateRecent()" type="button" matTooltip="sync recent trade history">
    <mat-icon>history</mat-icon>
  </button>
  <button mat-raised-button (click)="calcAverages()" type="button" matTooltip="update averages">
    <mat-icon>architecture</mat-icon>
  </button>
  <button mat-raised-button (click)="updateTickerInfo()" type="button" matTooltip="update ticker">
    <mat-icon>currency_exchange</mat-icon>
  </button>
  <button mat-raised-button (click)="sellRecent()" class="sell-recent">sell: recent</button>
  <button mat-raised-button (click)="buyByMultiplicator()" class="buy-recent">buy: -mult.</button>
  <button mat-raised-button (click)="toggleFishnet()" class="buy-recent" matTooltip="{{ showFishnet ? 'close' : 'open' }}">
    <mat-icon>phishing</mat-icon>
  </button>
</mat-card-actions>

<app-fishnet *ngIf="showFishnet" [product]="product | async" [ticker]="ticker" (create)="createOrder($event)"> </app-fishnet>

<mat-expansion-panel
  *ngIf="!showFishnet"
  hideToggle
  [expanded]="isNewOrderExpanded"
  (opened)="isNewOrderExpanded = true"
  (closed)="isNewOrderExpanded = false"
  [@.disabled]="disableAnimation"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Create order </mat-panel-title>
    <mat-panel-description>
      {{ (balance | async)?.available | decimalWithAutoDigitsInfo }} /
      {{ (balance | async)?.locked | decimalWithAutoDigitsInfo }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-order-form
    [exchange]="exchange"
    [ticker]="ticker"
    [averages]="averages"
    [balance]="balance | async"
    [product]="product | async"
    [recent]="recent"
    [buyMultiplicator]="buyMultiplicator"
    [selectedOrdersInfo]="selectedOrdersInfo"
    [sellForBtc]="sellForBtc"
    (create)="createOrder($event)"
  >
  </app-order-form>
</mat-expansion-panel>

<app-trading-view-widget *ngIf="isExpanded" [exchange]="exchange" [pair]="pair"></app-trading-view-widget>

<table mat-table [dataSource]="openOrders" class="mat-elevation-z8">
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>
      <span class="order-id-header">ID</span>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button matTooltip="copy order ID" [cdkCopyToClipboard]="element.id" (click)="$event.stopPropagation()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="update_time_ms">
    <th mat-header-cell *matHeaderCellDef>date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.updateTimestamp || element.createTimestamp | date: 'yyyy-MM-dd hh:mm a' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="side">
    <th mat-header-cell *matHeaderCellDef>side</th>
    <td mat-cell *matCellDef="let element">
      <span class="side" [class.sell]="element.side === 'sell'">{{ element.side }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>amount</th>
    <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>price</th>
    <td mat-cell *matCellDef="let element">
      {{ element.price | number: '1.0-10' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>total</th>
    <td mat-cell *matCellDef="let element">
      {{ +element.amount * +element.price | number: '1.0-10' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="cancelOrder(element)">
        <mat-icon>cancel</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-expansion-panel (opened)="onPanelOpen()" (closed)="onPanelClose()" hideToggle [expanded]="false" [@.disabled]="disableAnimation">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="history-panel-header">
        <div>Trade History</div>
        <div *ngIf="selectedOrdersInfo.price" class="selected-trades">
          selected: {{ selectedOrdersInfo.price }} / {{ selectedOrdersInfo.amount }} / {{ selectedOrdersInfo.total }}
        </div>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-trade-history
    [pair]="pair"
    [exchange]="exchange"
    [(selectedOrdersInfo)]="selectedOrdersInfo"
    (sellForBtc)="sellForBtc = $event"
    *ngIf="isOpened"
  ></app-trade-history>
</mat-expansion-panel>
