@import '../../variables.scss';

table {
  width: 100%;
}

.side {
  color: $buy-color;

  &.sell {
    color: $sell-color;
    font-weight: 600;
  }
}

.mat-mdc-card-actions {
  gap: 5px;

  --mat-protected-button-icon-spacing: 0;
  --mat-protected-button-icon-offset: 0;
}

.sell-recent {
  font-size: 12px;
  color: $sell-color;
}

.buy-recent {
  font-size: 12px;
  color: $buy-color;
}

.history-panel-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.selected {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 10px;
}

.order-id-header {
  padding-left: 14px;
}
