form {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  font-size: 12px;
  padding-bottom: 20px;

  mat-form-field {
    width: 170px;
  }
}

.price-button {
  height: 12px !important;
}

.price-icon {
  font-size: 10px;
}

.create-button {
  display: flex;
  align-items: center;
}
