<div mat-dialog-title class="header">
  <span>Settings</span>
  <button mat-icon-button (click)="signOut()" matTooltip="logout">
    <mat-icon>logout</mat-icon>
  </button>
</div>

<div mat-dialog-content class="container">
  <form class="form">
    <mat-form-field>
      <mat-label>buy multiplicator</mat-label>
      <mat-select [formControl]="form.controls.buyMultiplicator">
        <mat-option *ngFor="let multiplicator of multiplicators" [value]="multiplicator">
          {{ multiplicator.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>order default total amount</mat-label>
      <input matInput type="number" [formControl]="form.controls.defaultTotalAmount" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>default sell volume divider</mat-label>
      <input matInput type="number" [formControl]="form.controls.defaultSellVolumeDivider" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>default sell price multiplicator</mat-label>
      <input matInput type="number" [formControl]="form.controls.defaultSellPriceMultiplicator" />
    </mat-form-field>
  </form>
</div>

<mat-dialog-actions align="end">
  <button mat-button (click)="doSomeTechService()">do tech.</button>
  <button mat-button mat-dialog-close cdkFocusInitial>close</button>
</mat-dialog-actions>
