<mat-card class="actions">
  <form>
    <mat-form-field appearance="standard">
      <mat-label>new currency pair</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        matInput
        [formControl]="currencyPairControl"
        [matAutocomplete]="auto"
      />
      <button
        matSuffix
        mat-icon-button
        (click)="addPair()"
        type="button"
        matTooltip="add new pair"
        id="add-pair"
      >
        +
      </button>
      <!-- [displayWith]="displayFn" -->
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>buy multiplicator</mat-label>
      <mat-select [formControl]="buyMultiplicatorControl">
        <mat-option
          *ngFor="let multiplicator of multiplicators"
          [value]="multiplicator"
        >
          {{ multiplicator.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <span class="label">{{ currencyLabel }}:</span>
    <span matTooltip="available base currency">{{
      balance | number: '1.0-2'
    }}</span>
    /
    <span matTooltip="estimated total">{{ estimated | number: '1.0-2' }}</span>
    <button
      mat-icon-button
      (click)="refresh.emit()"
      type="button"
      matTooltip="refresh"
    >
      <mat-icon>refresh</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="filter.emit()"
      type="button"
      matTooltip="filter"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="sort.emit()"
      type="button"
      matTooltip="sort"
    >
      <mat-icon>sort</mat-icon>
    </button>
  </form>
</mat-card>
