@import '../../variables.scss';

.actions {
  margin: 0 5px;
  border-radius: 0;

  .mat-form-field {
    padding: 0 5px;
  }
}

.label {
  padding: 0 5px;
  font-size: 12px;
  font-weight: 600;
}

#add-pair {
  width: 2em;
  height: 2em;
}

.attention {
  color: $warning-color;
}

.buy {
  color: $buy-color;
}

.sell {
  color: $sell-color;
}

.active {
  background-color: $active-action;
}
