@import '../../variables.scss';

.actions {
  margin: 0 5px;
  border-radius: 0;

  .mat-form-field {
    padding: 0 5px;
  }
}

.form {
  display: flex;
}

.group {
  display: flex;
  align-items: center;
}

.label {
  padding: 0 5px;
  font-size: 12px;

  &.currency {
    font-weight: 600;
  }
}

.multiplicator {
  font-weight: 600;
  padding-right: 10px;
}

#add-pair {
  width: 2em;
  height: 2em;
}

.attention {
  color: $warning-color;
}

.buy {
  color: $buy-color;
}

.sell {
  color: $sell-color;
}

.active {
  background-color: $active-action;
}

.settings {
  justify-content: end;
  flex: 1;
}
